/* General Footer Styling */
.foot {
    display: flex;
    background-color: #333;
    flex-wrap: wrap;
    color: #fff;
    padding: 40px 10px;
    justify-content: space-between;

    font-family: Arial, sans-serif;
}


/* Image */
.foot a img {
    max-width: 100px;
    margin-bottom: 20px;
    border: #fff;
}

/* Section Styling */
.foot div {
    flex: 1;
    margin: 10px;
    min-width: 200px;
}

/* Section Headers and Links */
.foot a {
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:  #d7cebc;

    text-decoration: none;
    display: block;
    margin-bottom: 15px;
}

.foot a:hover {
    color: #e0ba80;
}

/* Lists */
.foot ul {
    list-style: none;
    padding: 0;
}

.foot ul li {
    font-size: 1em;
    margin: 5px 0;
    line-height: 1.8;
}

/* Newsletter Signup Form */
.four1 {
    font-size: 1.2em;
    color:  #fff;
    margin-bottom: 10px;
    display: block;
    text-transform: uppercase;
}

.four label {
    font-size: 1em;
    margin-bottom: 5px;
    display: block;
    color: #fff;
}

.four input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #555;
    border-radius: 5px;
    background: #444;
    color: #fff;
}

.four button {
    padding: 10px 20px;
    background-color: #fff;
    border-color: goldenrod;
    border-radius: 5px;
    color: #333;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    display: block;
    margin: 0 auto;
}

.four button:hover {
    background-color:  #e0ba80;
}

/* Social Media Icons */
.fa-twitter {
    font-size: 1.5em;
    color: white;
   
}
.icons-1{
    display: flex;
    flex-direction: row;
}

/* Responsive Design */
@media (max-width: 768px) {
    .foot {
        flex-direction: column;
        align-items: center;
    }

    .foot div {
        text-align: center;
        margin-bottom: 20px;
    }

    .foot input,
    .foot button {
        width: 100%;
    }
}
